﻿@model object
@{
    string propertyName = this.ViewData["PropertyName"].ToString();
}

<div class="form-group">
    @Html.Label(propertyName)
    @Html.DropDownList(propertyName, ((List<SelectListItem>)this.ViewData["SelectList"]), htmlAttributes: new { @class = "form-control" })
    @Html.ValidationMessage(propertyName, htmlAttributes: new { @class = "text-danger" })
</div>

