﻿@using FastDynamicForms.Extensions

@model FastDynamicForms.ViewModels.EditViewModel
@{
    Type modelType = Model.Entity.GetType();
}

<h1>@Model.Name</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Save", "FastDynamicForms", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="ModelTypeName" name="ModelTypeName" value="@Model.Name" />
            @foreach (var item in Model.Properties)
            {
                //we use partials to change @model type in view
                //this CAN'T be done dynamically, so we trick view engine by creating partial view with required @model type
                //this is necessary because it's only way for view engine to catch attributes on models
                if (modelType.GetProperty(item.Key).IsNavigationalProperty())
                {
                    @Html.Partial("_NavigationPropertyPartial", Model.Entity, new ViewDataDictionary(this.ViewData) { { "PropertyName", item.Key }, { "SelectList", item.Value } })
                }
                else if (modelType.GetProperty(item.Key).IsPrimaryKey())
                {
                    @Html.Partial("_PrimaryKeyPartial", Model.Entity, new ViewDataDictionary(this.ViewData) { { "PropertyName", item.Key } })
                }
                else
                {
                    @Html.Partial("_PropertyPartial", Model.Entity, new ViewDataDictionary(this.ViewData) { { "PropertyName", item.Key } })
                }
            }

            <button type="submit" class="btn btn-success">Save</button>
            @Html.ActionLink("Back", "List", "FastDynamicForms", new { modelTypeName = Model.Name }, new { @class = "btn btn-default" })
        }
    </div>
</div>