﻿@model List<FastDynamicForms.ViewModels.RegisteredModelsViewModel>

<style>
    td {
        font-size: 20px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Fast Dynamic Forms</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "List", "FastDynamicForms", new { modelTypeName = item.Name })</td>
            </tr>
        }
    </tbody>
</table>