﻿@model FastDynamicForms.ViewModels.RegisteredModelsViewModel
@using FastDynamicForms.Extensions

<h1>@Model.Name</h1>
@Html.ActionLink("New record", "Create", "FastDynamicForms", new { modelTypeName = Model.Name }, new { @class = "btn btn-primary" })
@Html.ActionLink("Back", "Index", "FastDynamicForms", null, new { @class = "btn btn-default" })

<table class="table table-striped">
    <thead>
        <tr>
            @foreach (var propertyName in Model.PropertyNames)
            {
                <th scope="col">
                    @Html.Partial("_LabelPartial", Model.EntityForDisplay, new ViewDataDictionary(this.ViewData) { { "PropertyName", propertyName } })
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var entities in Model.Items)
        {
            <tr>
                @foreach (KeyValuePair<System.Reflection.PropertyInfo, object> item in entities)
                {
                    <td>
                        @if (item.Key.IsPrimaryKey())
                        { 
                            @Html.ActionLink(item.Value.ToString(), "Edit", "FastDynamicForms", protocol: "", hostname: "", fragment: "",
                                routeValues: new { id = item.Value, modelTypeName = Model.Name }, htmlAttributes: null)
                        }
                        else
                        {
                            @item.Value
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>